header{
    font-size: 30px;
    padding-left: 20px;
}

p {
    padding-left: 40px;
}

main{
    position: absolute;
    margin-left: 310px;
    padding-left: 15px;
}

#navbar {
    position: fixed;
    height: 100%;
    width: 310px;
    border-right: solid;
}

.nav-link {
    text-align: left;
    font-size: 16px;
    padding: 10px 30px;
    display: block;
    border-top: solid;
}

code {
    padding-left: 60px;
}

#nav-header {
    text-align: center;
    padding: 10px;
}

#navbar a {
    text-decoration: none;
    color: rgb(88, 87, 87);
}

@media (max-width: 600px) {
    #navbar{
        display: none;
    }

    main {
        margin-left: 10px;
    }
}